:root {
    --main-bg: #1e4c76;
    --subsection-bg:#4C7498;
    --border-colour: #10395F;
    --text-colour: lightgray;
}

.dropzone {
    background-color: var(--subsection-bg);
    border: 2px dashed var(--border-colour);
    border-radius: 8px;
    color: var(--text-colour);
    object-fit: cover;
}

.dz-preview.dz-image-preview {
    background: transparent !important;
}

.dz-image {
    border-radius: 8px !important;
}

.dz-remove {
    color: var(--text-colour);
    text-decoration: underline;
}

.jumbotron {
    background-image: url('./img/space.jpg');
    background-size: cover;
}

.login .formInLogin .btn {
    background: var(--subsection-bg) !important;
    border: 2px dashed var(--border-colour) !important;
    border-radius: 8px;
    color: var(--text-colour);
}

.login .m a {
    color: var(--text-colour);
}

.login .m {
    line-height: 36px !important;    
}

img {
    min-width: 120px;
    min-height: 120px;
}

h1, body, label, p, span, ::placeholder {
    color: var(--text-colour) !important;
}

.form-control {
    background-color: var(--subsection-bg);
    border:2px dashed var(--border-colour);
    color: var(--text-colour);
}

.card {
    background-color: var(--subsection-bg);
    border: 2px dashed var(--border-colour);
    border-radius: 8px;
}

body {
    background-color: var(--main-bg) !important;
}

button, input, .btn-warning {
    border-radius: 8px;
    border-width: 2px;
    border-color: var(--text-colour) !important;
    color: var(--text-colour) !important;
    background-color: var(--subsection-bg) !important;
}

.btn-warning-hover {
    border-color: gray !important;
    background-color: var(--main-bg) !important;
}
