:root {
    --main-bg: #1e4c76;
    --subsection-bg:#4C7498;
    --border-colour: #10395F;
    --text-colour: lightgray;
}

.dropzone {
    background-color: var(--subsection-bg);
    border: 2px dashed var(--border-colour);
    border-radius: 8px;
    color: var(--text-colour);
    object-fit: cover;
}

.dz-preview.dz-image-preview {
    background: transparent;
}

.dz-image {
    border-radius: 8px;
}

.dz-remove {
    color: var(--text-colour);
    text-decoration: underline;
}

.jumbotron {
    background-image: url('./img/space.jpg');
    background-size: cover;
}

.login {
  width: 240px;
  height: 500px;
  margin: 0 auto;
}

.login .title {
  font-size: 32px;
  text-align: center;
  line-height: 100px;
  margin-top: 60px;
}

.login .formInLogin .input {
  width: 100%;
  margin-bottom: 18px;
  border: 0;
  padding: 11px 0px;
  border-bottom: 1px solid grey;
  font-size: 16px;
  border-radius: 8px;
  border-width: 2px;
  border-color: var(--text-colour);
  color: var(--text-colour);
  background-color: var(--subsection-bg);
}

.login .formInLogin .btn {
  font-size: 18px;
  width: 200px;
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
  padding-top: 0px;
  border-radius: 8px;
  border-width: 2px;
  border-color: var(--text-colour);
  color: var(--text-colour);
  background-color: var(--subsection-bg);
}

.login .m {
  text-align: center;
  line-height: 36px;
  color: var(--text-colour)
}

img {
    min-width: 120px;
    min-height: 120px;
}

h1, body, label, p, span, ::placeholder {
    color: var(--text-colour);
}

.form-control {
    background-color: var(--subsection-bg);
    border:2px dashed var(--border-colour);
    color: var(--text-colour);
}

.card {
    background-color: var(--subsection-bg);
    border: 2px dashed var(--border-colour);
    border-radius: 8px;
}

body {
    background-color: var(--main-bg);
}

button, .btn {
    border-radius: 8px;
    border-width: 2px;
    border-color: var(--text-colour);
    color: var(--text-colour);
    background-color: var(--subsection-bg);
}

.nav-link, .btn:hover {
    color: var(--text-colour);
}

.active, .nav-link:hover {
    color: var(--text-colour);
    background-color: var(--subsection-bg);
}
