<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
  <link href="../static/style.css" rel="stylesheet" type="text/css" media="all">
  <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('main') }}">Tool</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('manual') }}">User Manual</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
      <li>
    </ul>
  </nav>
  <div class="jumbotron text-center">
    <h1>Galaxy Classification Tool</h1>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="mb-5">
          <div class="form-group">
            <label for="task">Select Task:</label>
            <select id="task" class="form-control">
              <option value="shape">Shape</option>
            </select>
          </div>
        </form>
        <form action="/upload" class="dropzone" id="my-dropzone">
          <div class="dz-message">Drag and drop your file(s) here, or click to browse files on your device.</div>
        </form>
        <br>
        <button class="mb-5" id="classify" onclick="Dropzone.forElement('.dropzone').processQueue()">Upload and Classify!</button>
        <p>Output:</p>
        <button class="mb-5" id="copybutton" onclick="copyToClipboard('#output')">Copy result to clipboard</button>
        <div class="divider"></div>
        <p id="results"></p>
        <div class="card">
          <div class="card-body">
            <p id="output">...</p>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <script src="../static/script.js"></script>
</body>
</html>
