<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <nav class="navbar navbar-expand">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main') }}">Tool</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('manual') }}">User Manual</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            <li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-5">
                <h1>User Manual</h1>
                <p>From the drop-down menu of classification types, select the type of classification you would like to use.
                Currently there is only the option for shape classification but this is soon to be updated!</p>
                <p>Drag and drop your files into the box provided, or click the box to browse your device for the files.
                <b>Accepted file types are all image types, .zip, .tar, .tar.gz.</b> The box only accepts up to 10 files,
                but you can use one of the compressed file types to upload more than 10 images/files. If you upload a wrong file,
                simply click the "Remove file" link underneath to remove it.</p>
                <p>Now, just click the “Upload and Classify!” button to get the result. To easily copy the output, simply click the
                “Copy results to clipboard” button, or use the "Download" button to receive a text/zip file of results.</p>
                <p>If you run into any issues, please contact Kenji Bekki.</p>
            </div>
        </div>
    </div>
</body>
</html>
